---
layout: layout
title: ""
---
<section class="thirteen columns">
    <h1>About me</h1>
    <article>
       
                  
 <p> I'm currently working as a Signal Processing Engineering at CommAgility Ltd, an LTE PHY/Stack software provider based in Germany. Most recently, I worked as a DSP Engineer at OQ technology, a LEO Satellite IOT startup in Luxembourg. </p> 
        <br>

<p> I completed my Master's from RWTH Aachen University, Germany & Bachelor's from PESIT, Bangalore. . </p>
        <br>


<p> I'm a regular Badminton player and hiker. I spend my free time reading books/traveling/meeting people.  </p>
        <br>
     
    </article>
    
</section>
{% include employment.html %}

{% include education.html %}

{% include skills.html %}

{% include initiatives.html %}

{% include interests.html %}
