<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Communication Engineering</h1>
            <span>RWTH Aachen University, Germany</span>
            <span><time>2017 to 2020</time></span> 
        </header>
        <p>
            <em>Master Thesis: Interference Management in Wireless Sensor Networks for Avionics.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BE in Electronics and Communication Engineering</h1>
            <span>PES Institute of Technology, Bangalore, India</span>
           <span><time>2012 to 2016</time></span> 
        </header>
        <p>
            <em>Bachelor Thesis: Channel Estimation for OFDM system in presence of Impairments.</em>
        </p>
    </article>
</section>
