<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Communication Engineering</h1>
            <span><stable>RWTH Aachen University</stable></span>
            <span><address>Aachen, Germany</address><time>2017 to 2020</time></span> 
        </header>
        <p>
            <em>Master Thesis: Interference Management in Wireless Sensor Networks for Avionics.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BE in Electronics and Communication Engineering</h1>
            <span><stable>PES Institute of Technology</stable></span>
           <span><address>Bangalore, India</address><time>2012 to 2016</time></span> 
        </header>
        <p>
            <em>Bachelor Thesis: Channel Estimation for OFDM system in presence of Impairments.</em>
        </p>
    </article>
</section>
