<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Communication Engineering</h1>
            <span>RWTH Aachen University, Germany</span>
            <!-- <span><address>Glasgow, UK</address><time>2011 to 2012</time></span> -->
        </header>
        <p>
            <em>Master Thesis: Interference Management in Wireless Sensor Networks for Avionics.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BE in Electronics and Communication Engineering</h1>
            <span>PES Institute of Technology, Bangalore</span>
           <!--  <span><address>London, UK</address><time>2007 to 2011</time></span> -->
        </header>
        <p>
            <em>Bachelor Thesis: Channel Estimation for OFDM system in presence of Impairments.</em>
        </p>
    </article>
</section>
