<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1>Signal Processing Engineer</h1>
            <span><address><strong> Commagility Ltd</strong>, Duisburg, Germany</address><time>April-2021 to Present</time></span>
        </header>
        <p>● Working on LTE L1-L2 (FAPI) interface. </p>
    </article>
    <article>
        <header>
            <h1>Signal Processing Engineer</h1>
            <span><address><strong>OQ Technology</strong>, Luxembourg</address><time>July 2020 - March 2021</time></span>
        </header>
        <p>Tools: Matlab, C/C++ </p>
<p> ● Design, simulation, and calibration of full transceiver chain for earth-to-LEO satellite communication links.</p>
<p> ● Development of new low-complexity methods for detection and synchronization that can specifically handle the large range of Doppler impairments.</p>
    </article>
    <article>
        <header>
            <h1>Master Thesis: Interference Management in Wireless Sensor Networks for Avionics</h1>
            <span><address><strong>Airbus Defence & Space</strong>, Hamburg, Germany</address><time>Nov-2019 to April-2020</time></span>
        </header>
        <p>Tool: Matlab</p>
<p> ● Proposed methods to estimate channel response in 802.11ax (WiFi6) with the presence of FMCW radar interference.</p>
    </article>
    <article>
        <header>
            <h1>Intern: 5G Wireless Systems Prototyping</h1>
            <span><address><strong>National Instruments</strong>, Dresden, Germany</address><time>April-Sep 2019</time></span>
        </header>
        <p>Tools: Network Simulator, C++, gdb, eclipse, linux, git, labview</p>
<p> ● Added missing features to open source 5G protocol stack. </p>
<p> ● Good understanding of 4G/5G technology principles & communication theory </p>
<p> ● Debugging large C++ files/protocol stacks using debuggers/log analysis.</p>
    </article>
    
</section>
